@charset "UTF-8";

body
{
	display:flex;
	justify-content:center;
	align-items:center;
	background-size:cover;
}

section
{
	background-color:blue;
	width:100%;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:100px;
}