<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudOwnModule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ownerServlet</display-name>
    <servlet-name>ownerServlet</servlet-name>
    <servlet-class>com.page.ownerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ownerServlet</servlet-name>
    <url-pattern>/ownerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>com.page.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/AddImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.page.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.page.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.page.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartServlet</display-name>
    <servlet-name>AddtoCartServlet</servlet-name>
    <servlet-class>com.page.servlet.AddtoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>com.page.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.page.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>com.page.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.page.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/user-logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>com.page.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityServlet</display-name>
    <servlet-name>QuantityServlet</servlet-name>
    <servlet-class>com.page.servlet.QuantityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityServlet</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>com.page.servlet.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>com.page.servlet.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/invalid-credentials</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSlotServlet</display-name>
    <servlet-name>CreateSlotServlet</servlet-name>
    <servlet-class>com.page.servlet.CreateSlotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSlotServlet</servlet-name>
    <url-pattern>/create-slot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReview</display-name>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>com.page.servlet.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/add-review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReviewServlet</display-name>
    <servlet-name>ShowReviewServlet</servlet-name>
    <servlet-class>com.page.servlet.ShowReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReviewServlet</servlet-name>
    <url-pattern>/show-review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAttend</display-name>
    <servlet-name>AddAttend</servlet-name>
    <servlet-class>com.page.servlet.AddAttend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAttend</servlet-name>
    <url-pattern>/attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.page.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/del-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOwner</display-name>
    <servlet-name>DeleteOwner</servlet-name>
    <servlet-class>com.page.servlet.DeleteOwner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOwner</servlet-name>
    <url-pattern>/del-owner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAttendance</display-name>
    <servlet-name>DeleteAttendance</servlet-name>
    <servlet-class>com.page.servlet.DeleteAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAttendance</servlet-name>
    <url-pattern>/del-attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSlot</display-name>
    <servlet-name>DeleteSlot</servlet-name>
    <servlet-class>com.page.servlet.DeleteSlot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSlot</servlet-name>
    <url-pattern>/del-slot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAttendance</display-name>
    <servlet-name>EditAttendance</servlet-name>
    <servlet-class>com.page.servlet.EditAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAttendance</servlet-name>
    <url-pattern>/edit-attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttendance</display-name>
    <servlet-name>UpdateAttendance</servlet-name>
    <servlet-class>com.page.servlet.UpdateAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendance</servlet-name>
    <url-pattern>/update-attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.page.servlet.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/send-mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.page.servlet.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
</web-app>